* {
  font-family: "Proza Libre", sans-serif;
  font-weight: 600px;
}

.bg-grey {
  background-color: rgb(240, 240, 240);
}

.bg-purple {
  background-color: #562b81;
}

.white-text {
  color: white;
}

#img-placeholder {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

img {
  width: 100%;
}

.textbox {
  width: 100%;
  height: 150px;
  resize: none;
  border: 0.5px solid #f0f0f0;
  border-radius: 3px;
}

.click-border-change:focus {
  outline: none;
  border: 2px solid #562b81;
}

.button {
  background-color: #562b81;
  color: white;
  border-radius: 3px;
  border: none;
  height: 35px;
  width: 70px;
  position: relative;
  top: 40px;
  padding: 5px;
  font-size: 16px;
}

input {
  border-radius: 3px;
  width: 100%;
  height: 35px;
  border: 0.5px solid #f0f0f0;
}

label {
  font-weight: 600;
}

.align-right {
  text-align: right;
}

.position {
  position: relative;
  top: 30px;
}

.justify-content {
  justify-content: space-between;
}

.display-flex {
  display: flex;
}

#button-new {
  position: relative;
  top: 25px;
}

.center {
  justify-content: center;
}

.padding-bottom {
  padding-bottom: 20px;
}

.vertical-align {
  align-items: center;
  vertical-align: center;
}

.entries-navbar {
  padding: 20px;
  text-decoration: none;
}

/* FEATURE 3 STYLING */
.pencil-color {
  color: #562b81;
}

.padding {
  padding-left: 10px;
}

.width-70 {
  width: 70%;
}

.delete-entry {
  text-decoration: underline;
  color: #eb4f4d;
}

#modal-container {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
  background-color: rgb(51 51 51 / 86.3%);
}

#survey {
  background-color: white;
  margin-top: 15%;
  margin-left: 35%;
  margin-right: 35%;
  font-size: 20px;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 30px;
  border-radius: 5px;
}

.modal-button {
  font-size: 18px;
  height: 40px;
  width: 110px;
}

.border {
  border-radius: 3px;
  border: none;
}

.cancel-button {
  background-color: #b6b6b6;
  border: none;
  font-weight: bold;
}

.confirm-button {
  background-color: #dc2626;
  color: white;
  font-weight: bold;
}

/* FOR TESTING... */

/* .red-border {
  border: 1px solid red;
} */
